:root {
  --primary: #333333;
  --blue: #279fb9;
  --scooter: #39b6d1;
  --dark-blue: #1E7B8F;
  --white: #ffffff;
  --black: #000000;
  --gray: #bdbdbd;
  --lightning-yellow: #ffc020;
  --burnt-sienna: #ed7853;
  --tundora: #424242;
  --gray-transparent: #ffffffcc;
  --black-transparent: #0000001a;
  --light-gray: #e0e0e0;
  --dark-gray: #757575;
  --white-light: #f5f5f5;
}
